<!-- BEGIN MAIN CONTENT -->
<!-- .outer -->
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">   </div>
		<div class="span12 inner">
			<!-- 
			<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>Warning!</strong> Best check yo self, you're not looking too good.
			</div>
			-->
		</div>
	</div>
	<div class="row-fluid acc-wizard">
		<!-- .inner -->
		<div class="span12">
			<div class="span1"></div>
			<div class="span3 cad-steps">
				<div class="span12 menu-cadastro">
					<a href="javascript:" id="dados-pessoais"><h4>Dados Pessoais </h4></a>
				</div>
				<div class="span12 menu-cadastro">
					<a href="javascript:" id="dados-contato"><h4>Contato</h4></a>
				</div>
				<div class="span12 menu-cadastro">
					<a href="javascript:" id="dados-habilidade"><h4>Habilidades</h4></a>
				</div>
				<div class="span12 menu-cadastro">
					<a href="javascript:" id="dados-interesses"><h4>Interesses</h4></a>
				</div>
			</div>
					<%= render 'form' %>
		<div class="span1"></div>
	</div>
</div>
<!-- /.inner -->
<!-- END MAIN CONTENT -->